@model Proyector
    

@{
    ViewData["Title"] = "Nuevo Proyector";

}

<div class="container">
    <h1 class="display-5 mb-5">Nuevo Proyector</h1>
    <div class="row">
       
        
        <form asp-controller="Home" asp-action="Create">

           <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="Id">Numero de proyector</label>
                <input type="number" class="form-control" asp-for="Id"id="Id"/>
                <span asp-validation-for="Id" class="text-danger"></span>

            </div>

            
            <div class="form-group mb-3">
                <label class="form-label" asp-for="Marca">Marca</label>
                <input type="text" class="form-control" asp-for="Marca" id="Marca" />
                <span asp-validation-for="Marca" class="text-danger">Se requiere la marca</span>

            </div>

            
            <div class="form-group mb-3">
                <label class="form-label" asp-for="Modelo">Modelo</label>
                <input type="text" class="form-control" asp-for="Modelo" id="Modelo" />
                <span asp-validation-for="Modelo" class="text-danger">Se requiere el modelo</span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="NumeroDeSerie">Numero de Serie</label>
                <input type="number" class="form-control" asp-for="NumeroDeSerie" id="NumeroDeSerie" />
                <span asp-validation-for="NumeroDeSerie" class="text-danger">Se requiere el numero de serie</span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="FechaDeAlta">Fecha de alta</label>
                <input type="date" class="form-control" asp-for="FechaDeAlta" id="FechaDeAlta" />

            </div>
            <div class="form-group mb-3">
                <label class="form-label" asp-for="Situacion">Situacion del proyector</label>
                <select class="form-select" asp-for="Situacion" id="Situacion">

                    <option value="1">Bueno</option>
                    <option value="2">Regular</option>
                    <option value="3">Horrible</option>



                </select>
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Guardar </button>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancelar </a>
            </div>
            
        </form>

    </div>
</div>
